<div class="container">
  <%= form_with(model: inventory, local: true) do |form| %>
    <% if inventory.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

        <ul>
        <% inventory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :part_number %>
      <%= form.text_field :part_number, id: :inventory_part_number %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, id: :inventory_description %>
    </div>

    <div class="field">
      <%= form.label :quantity %>
      <%= form.number_field :quantity, id: :inventory_quantity %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>