<!DOCTYPE html>
<html>
  <head>
    <title>LouverInventory</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
  	<div class="container">
  	   <!-- <i class="fa fa-home fa-3x pull-right" aria-hidden="true"></i> -->
  	   <!-- <%= fa_icon("home", :class => "pull-right fa-3x")  %> -->
  	   <%= link_to '<i class="fa fa-home fa-3x pull-right" aria-hidden="true"></i>'.html_safe, root_path %>
  	</div>  
    <%= yield %>
  </body>
</html>
