<!DOCTYPE html>
<html>
  <head>
    <title>LouverInventory</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
  	<div class="container">
  		 <% if user_signed_in? %>
  		   <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  		 <% end %>  
  	   <%= link_to '<i class="fa fa-home fa-3x pull-right" aria-hidden="true"></i>'.html_safe, root_path %>
  	</div>  
  	<div class="container">
      <%flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
  	</div>
    <%= yield %>
  </body>
</html>
